/*Element Styles*/

h1 {
    color: green;
    text-align: center;
    font-family: Arial;
}

p {
    color: black;
    font-family: Calibri;
}

nav {
    font-family: Calibri;
    float: left;
    width:25%;
    max-width: 250px;
    margin: 0;
    color: black;
    background-color:gray;
    border: 1px solid darkgray;
}

nav ul {
    list-style-type: none;

}


article {
    font-family: Calibri;
    overflow: hidden;
    margin: 0;
    padding: 1em;
}

header {

    color: white;
    background-color:black;
    font-size:20px;
    font-family:Arial;
    text-align: center;
    clear: left;
    margin: 0;
    padding: 1em;

}


footer {

    color: white;
    background-color:black;
    font-size:16px;
    font-family:Arial;
    text-align: center;
    clear: left;
    margin: 0;
    padding: 4px;

}

/*Classes*/

h1.KW {

    color: white;
    background-color:darkgreen;
    font-size:32px;
    font-family:Calibri;
    text-align: center;

}

p.KW {

    color: white;
    background-color:darkgreen;
    font-size:16px;
    font-family:Arial;

}

div.container {
    width: 100%;
    border: 1px solid gray;
    background-color:darkgray;
}